:root {
    --znai-inversed-text-color: #ddd;
    --znai-background-color: #eee;
    --znai-toc-title-background-color: #d9d9d9;
    --znai-toc-panel-background-color: #d9d9d9;
}

.theme-znai-dark {
    --znai-background-color: #1a1a1a;
}
